@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";

@media (min-width: 1024px) {
    .lg\:py-2 {
         padding-left: 0 !important;
         padding-top: 0 !important;
         padding-bottom: 0 !important;
    }
    .lg\:rounded-2xl {
        border-radius: 0 !important;
    }
}
.bg-gradient-to-tr:after {
    width: 100%;
    content: '';
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.7);
    z-index: 1;
}
.bg-gradient-to-tr {
    position: relative;
    background: url('car-bg.jpg') no-repeat center center/cover !important;
}
.xl\:w-4\/12 {
    z-index: 2;
}

